* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    line-height: 24px;
    font-family: georgia, baskerville, serif;  
    background: #661408 
}
    

header {
    background-color: #CF796C;
    color: #FFFFFF;
    height: 100px;
    border: 10px solid #FFFDF1;
    padding-top: 10px; /* TRouBLe */
    margin: 10px;
}

header h1 {
    
    text-align: center;
    font-family: georgia, baskerville, serif;
    font-size: 48px; 
    float: inherit;
}

header nav {
    padding-bottom: 10px;
    text-align: center;
    
}
header a {
        color:#FFB680;
        margin-right: 40px;
        text-decoration: none;
}

header a:hover {
    color: #ffffff;
}
header a:active {
    text-decoration: underline;
}


img {
    padding: 3px;
    border: 10px solid #FFFDF1;
    margin: 10px;
}

article{
    clear: both;
    padding: 30px;
    background-color: #CF796C;
    border: 10px solid #FFFDF1;
    margin: 40px;
    color: #ffb680
}

article h1 {
    font-size: 32px;
    line-height: 40px;
    color: #730342;
}

article h2 {
    font-size: 24px;
    line-height: 32px;
    color: #730342;
}

article h3{
    font-size: 24px;
    line-height: 32px;
}

article h4{
    font-size: 24px;
    line-height: 32px;
    text-align:center;
}

section {
    text-align:center;        
}


a:link {
    color:#FFF;
    text-decoration: none;
}      /* unvisited link */
a:visited {
    color:#FFF;
}  /* visited link */
a:hover {
    color:#FFF;
    text-decoration:underline;
}  /* mouse over link */
a:active {
    color:#FFF;
}

p {
    margin-bottom: 16px;
}   
.left {
	padding-right:5px;
	float:left;
	}

.right {
	padding-left:5px;
	float:right;
	}

.icons {
    border: none;
    align-items: center;
}

#photo{
    display: inline-block;
}

#resume{
    margin-left: 40%;
}


footer {
    font-size: 17px;
    color: #ffb680;
    text-align: center;
    padding: 0 5px 0 10px;
    background-color: #CF796C;
    border: 10px solid #FFFDF1;
    margin: 10px;
}

@media screen and (max-width: 600px)
    {
    body{
        padding: 5%;
    }
    h1{
        text-align: center;
        padding: 5%
    }
    
    h2{
        text-align: center;
        padding: 5%
    }
    article{
    
    }
    p {
        text-align: center;
        padding 5%;
}