* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    line-height: 24px;
    font-family: georgia, baskerville, serif;  
    background: #FF8A34
}
    
p {
    margin-bottom: 16px;
}   
.right {
	padding-left:5px;
	float:right;
	}
header {
    background-color: #0AA2B2; 
    color: #FFB680;
    height: 110px;
    border: 2px solid #80F3FF;
    padding: 30px; /* TRouBLe */
    margin: 10px;
}

header h1 {
    float: left;
    text-align: center;
    font-family: georgia, baskerville, serif;
    font-size: 56px;  
}

header nav {
    float: left;
    margin-top: 15px;
}
header a {
        color:#FFB680;
        margin-right: 40px;
        text-decoration: none;
}

header a:link {}
header a:visited{}
header a:hover {
    color: #ffffff;
}
header a:active {
    text-decoration: underline;
}
header a:focus{}

article{
    clear: both;
    padding: 30px;
    background-color: #0AA2B2;
    border: 2px solid #000000;
    margin: 10px;
}

article h1 {
    font-size: 40px;
    line-height: 48px;
}

article h2 {
    font-size: 32px;
    line-height: 40px;
}

article h3{
    font-size: 24px;
    line-height: 32px;
}

footer {
    font-size: 12px;
    text-align: center;
    padding: 0 10px 0 10px;
    background-color: #0AA2B2;
    border: 2px solid #80F3FF;
    margin: 10px;
}