* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    line-height: 24px;
    font-family: georgia, baskerville, serif;  
    background: #661408 
}
    
p {
    margin-bottom: 16px;
}   
.left {
	padding-right:5px;
	float:left;
	}
.right {
	padding-left:5px;
	float:right;
	}

header {
    background-color: #CF796C;
    color: #FFFFFF;
    height: 200px;
    border: 10px solid #FFFDF1;
    padding: 60px; /* TRouBLe */
    margin: 10px;
}

header h1 {
    
    text-align: center;
    font-family: georgia, baskerville, serif;
    font-size: 64px;  
}

header nav {
    
    margin-top: 20px;
    text-align: center;
}
header a {
        color:#FFB680;
        margin-right: 40px;
        text-decoration: none;
}

header a:link {}
header a:visited{}
header a:hover {
    color: #ffffff;
}
header a:active {
    text-decoration: underline;
}
header a:focus{}

img {
    padding: 3px;
    border: 10px solid #FFFDF1;
    margin: 10px;
}

article{
    clear: both;
    padding: 30px;
    background-color: #CF796C;
    border: 10px solid #FFFDF1;
    margin: 40px;
    color: #ffb680
}

article h1 {
    font-size: 48px;
    line-height: 56px;
    color: #730342;
}

article h2 {
    font-size: 32px;
    line-height: 40px;
    color: #730342;
}

article h3{
    font-size: 24px;
    line-height: 32px;
}

article h4{
    font-size: 24px;
    line-height: 32px;
    text-align:center;
}

section {
    text-align:center;        
}

ul{
}
a:link {
    color:#FFF;
    text-decoration: none;
}      /* unvisited link */
a:visited {
    color:#FFF;
}  /* visited link */
a:hover {
    color:#FFF;
    text-decoration:underline;
}  /* mouse over link */
a:active {
    color:#FFF;
}

footer {
    font-size: 12px;
    color: #ffb680;
    text-align: center;
    padding: 0 10px 0 10px;
    background-color: #CF796C;
    border: 10px solid #FFFDF1;
    margin: 10px;
}